<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6">
    <a href="/" class="text-base font-semibold leading-6 text-gray-900"
      >JoJo Games</a
    >
    <a href="/auth/signIn" class="text-sm font-semibold leading-6 text-gray-900"
      >sign in <span>&rarr;</span></a
    >
  </nav>
</header>
