<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="heading">
      <a href="/main"><h1 id="head">JOJO GAMES</h1></a>
    </div>

    <div id="games">
      <a href="/main/sudoku">
        <div id="game">
          <div id="sudoku"></div>
          <p>SUDOKU</p>
        </div>
      </a>

      <a href="/main/tic-tac-toe">
        <div id="game">
          <div id="tic_tac_toe"></div>
          <p>TIC TAC TOE</p>
        </div>
      </a>

      <a href="/main/snake">
        <div id="game">
          <div id="snake"></div>
          <p>SNAKE GAME</p>
        </div>
      </a>

      <a href="/main/chess">
        <div id="game">
          <div id="chess"></div>
          <p>CHESS GAME</p>
        </div>
      </a>

      <a href="/main/block">
        <div id="game">
          <div id="block"></div>
          <p>BLOCK GAME</p>
        </div>
      </a>
    </div>
  </body>
</html>
