<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/background.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/background.ejs') %>
    <div class="container">
      <h1>Welcome to JoJo Games</h1>
      <a href="/auth/register">Register</a>
      <a href="/auth/signIn">Sign In</a>
    </div>
  </body>
</html>
