<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
  </head>
  <body>
    <form action="/auth/register" method="post">
      <label for="fullName">Enter Name</label>
      <input type="text" name="fullName" id="fullName" /><br />
      <label for="userName">Enter userName</label>
      <input type="text" name="userName" id="userName" /><br />
      <label for="password">Enter password</label>
      <input type="password" name="password" id="password" /><br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
