<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/block.css" />
  </head>
  <body>
    <div id="heading">
      <a href="/main"><h1 id="head">JOJO GAMES</h1></a>
    </div>
    <h1>BLOCK GAME</h1>
    <div id="buttons">
      <button id="start" onclick="SetBoard()">START</button>
    </div>
    <hr />
    <div id="board">
      <!-- <p id="message">Game Over</p> -->
    </div>
    <div id="hints"></div>
    <script src="/js/block.js"></script>
  </body>
</html>
