<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/sudoku.css" />
    <script src="/js/sudoku.js"></script>
    <title>Sudoku</title>
  </head>
  <body>
    <div id="heading">
      <a href="main"><h1 id="head">JOJO GAMES</h1></a>
    </div>
    <h1>SUDOKU</h1>
    <div id="GameOver">SOLVED</div>
    <div id="buttons">
      <button id="start" onclick="SetGame()">START</button>
      <button id="reset" onclick="Reset()">&larr;</button>
    </div>

    <hr />
    <div id="board"></div>
    <br />
    <div id="elements"></div>
  </body>
</html>
