<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/tic_tac_toe.css" />
    <script src="/js/tic_tac_toe.js"></script>
    <title>Home</title>
  </head>
  <body>
    <div id="heading">
      <a href="/main"><h1 id="head">JOJO GAMES</h1></a>
    </div>
    <h1>TIC TAC TOE</h1>
    <button id="start" onclick="SetBoard()">START</button>
    <button id="reset" onclick="load()">RESET</button>
    <hr />
    <div id="board"></div>
    <div id="message">DRAW</div>
  </body>
</html>
